/* Zera as margens e o padding padrão em todos os elementos */
* {
    margin: 0;
    padding: 0;
}

/* Estilos gerais para o corpo do documento */
body {
    background-color: #ffdbc3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Estilos para campos de entrada de texto */
input[type="text"] {
    background-color: #ffdbc3;
    color: black;
    padding-left: 10px;
    width: 600px;
    height: 30px;
    font-size: 18px;
    border-radius: 10px;
    margin: 10px;
}
input[type="text"]#complemento {
    background-color: #ffdbc3;
    color: black;
    width: 300px;
    height: 30px;
    font-size: 18px;
    border-radius: 10px;
    margin: 10px;
}
input[type="text"]#cep{
    background-color: #ffdbc3;
    color: black;
    width: 150px;
    padding-left: 10px;
    height: 30px;
    font-size: 18px;
    border-radius: 10px;
    margin: 10px;
}
/* Estilos para o campo de entrada de email */
input[type="email"] {
    background-color: #ffdbc3;
    color: black;
    padding-left: 10px;
    width: 600px;
    height: 30px;
    font-size: 18px;
    border-radius: 10px;
    margin: 10px;
}
input[type="date"] {
    background-color: #ffdbc3;
    color: black;
    width: 200px;
    height: 30px;
    padding-left: 50px;
    font-size: 18px;
    border-radius: 10px;
    margin: 10px;
}
.numend input[type="text"] {
    background-color: #ffdbc3;
    color: black;
    width: 80px;
    height: 30px;
    padding-left: 10px;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    margin: 10px;
}
/* Estilos para inputs quando estão em foco */
input:focus {
    animation: borderAnimation 4s  infinite ease; /* Por exemplo, uma cor de fundo cinza quando em foco */
    /* Adicione outros estilos desejados aqui */
}

.styleEmail{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-right: 30px;
    margin-left: 0;
    margin-bottom: 20px;
}
.styleIdadeNome{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-right: 30px;
    margin-left: 0;
}
.styleBairroN{
    display: flex;
    flex-direction: row;
}
.styleCep{
    display: flex;
    flex-direction: row;
}
/* Estilos para etiquetas (labels) */
label {
    display: flex;
    font-size: 16px;
}
.cabecalho{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

/* Estilos para o contêiner do formulário */
.formulario {
    display: flex;
    margin-top: 4px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 70vh;
    width: 55rem;
    padding-left: 10px;
    border-radius: 20px;
    animation: slide-up 3s ease-in-out, fade-in 3s ease-in-out;
}

/* Estilos para a área principal e botões */
.main{
    display: flex;
    padding: 10px;
    margin-bottom: 10%;
    color: white;
    border-color: white;
    border-radius: 10px;
    background-color: #ee9f6a;
    align-items: center;
    width: 100%;
    height: 3rem;
    justify-content: center;
    animation: slide-up 3s ease-in-out, fade-in 3s ease-in-out;
}
button {
    display: flex;
    padding: 10px;
    margin-top: 5px;
    color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: #ee9f6a;
    align-items: center;
    width: 50rem;
    height: 50px;
    justify-content: center;
    animation: borderAnimation 5s  infinite ease;
   
}

/* Estilos para o botão quando o mouse paira sobre ele */
button:hover {
    background-color: white;
    color: #000000;
    cursor: pointer;
    scale: 1.1;
    animation: borderAnimation 0s  infinite ease;  
}

.grauFormacao{
    display: flex;
    margin: 10px;
}
hr{
    background-color: #000000;
    height: 1px;
}
/* Estilo da barra de progresso */
#progresso {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 850px;
    height: 20px;
    background-color: #ffffff; /* Cor de fundo da barra de progresso (branca) */
    border-radius: 10px; /* Borda arredondada */
    
}

#progresso::-webkit-progress-bar {
    background-color: #ffffff; /* Cor de fundo da barra de progresso */
    border-radius: 10px; /* Borda arredondada */
}

#progresso::-webkit-progress-value {
    background-color: #ff0000; /* Cor da barra de progresso (azul) */
    border-radius: 10px; /* Borda arredondada */
    transition: width 1s ease; /* Adiciona uma transição suave para a largura */
    
}


@keyframes borderAnimation {
    0% {
        color: #000000;
        background-color: white;
    }
    50% {
        color: white;
        background-color: #ee9f6a;
    }
    100% {
        color: #000000;
        background-color: white;
    }
}

/* /* Estilos para a tela de saudação */
/* Estilos para a tela de saudação */
.tela-de-saudacao {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333; /* Cor de fundo da tela de saudação */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation: fade-out 3s ease-in-out; /* Adicione uma animação de desvanecimento */
    z-index: 9999;
}

.tela-de-saudacao h1 {
    color: #fff; /* Cor do texto da saudação */
    font-size: 36px;
    text-align: center;
    opacity: 0; /* Começa com opacidade 0 e aumenta durante a animação */
    animation: slide-up 2s ease-in-out, fade-in 2s ease-in-out; /* Adicione animações de deslizamento e desvanecimento */
}

/* Estilos para o conteúdo do site */
.conteudo {
    display: none; /* Oculta o conteúdo até a tela de saudação desaparecer */
}

/* Animação de desvanecimento */
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Animação de deslizamento */
@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

/* Animação de desvanecimento para o texto */
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
